/* ------------------------------------------------------------ *\
	# icons
\* ------------------------------------------------------------ */
.icon { display: inline-block; vertical-align: top; transition: all 0.3s; }

/* ------------------------------------------------------------ *\
	# btns
\* ------------------------------------------------------------ */
.btns { font-size: 0; line-height: 0; }
.btn { position: relative; box-sizing: border-box; display: inline-block; vertical-align: top; max-width: 100%; background-color: transparent; border: 0; cursor: pointer; appearance: none; transition: all 0.3s; }
.btn:hover { text-decoration: none;	}

/* ------------------------------------------------------------ *\
	# article
\* ------------------------------------------------------------ */
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 { margin-bottom: 10px; font-family: var(--font-secondary); line-height: 1.3; color: var(--color-titles); font-weight: normal; text-transform: uppercase; }

.article h1 { font-size: 24px; line-height: 1.2; }
.article h2 { font-size: 22px; line-height: 1.2; font-weight: bold; }
.article h3 { font-size: 18px; }
.article h4 { font-size: 17px; }
.article h5 { font-size: 16px; }
.article h6 { font-size: 15px; }

.article:after { @apply --clearfix; }

.article { font-size: var(--font-size-primary); line-height: 18px; color: var(--color-text); }
.article * { max-width: 100%; }
.article hr { display: block; border: none; width: 100%; height: 1px; margin: 10px 0; background: var(--color-text); }
.article a:not(.btn-article):not(.btn-primary) { position: relative; color: var(--color-link); text-decoration: underline; transition: all 0.3s; }
.article a:hover { text-decoration: none; }

.article strong { color: #000; }
.article p { padding-bottom: 10px; }
.article p + ul,
.article p + ol { margin-top: -10px; }
.article ul { list-style: none; padding-bottom: 10px; }
.article ul	li { position: relative; padding: 0 0 5px 20px; }
.article ul	li:before { content: '•'; position: absolute; top: 0; left: 0; font-size: 24px; line-height: inherit; }
.article ol { list-style-position: inside; padding-bottom: 10px; }
.article ol li { padding: 0 0 5px 0; }
.article blockquote { position: relative; z-index: 1; display: block; margin: 60px 0 40px; padding: 0 80px; font-size: 24px; line-height: 30px; color: var(--color-text); }
.article blockquote:before { content: '"'; position: absolute; top: -76px; left: -23px; z-index: -1; font-size: 300px; line-height: 1; color: var(--color-secondary); }

.article table { margin-bottom: 10px; }

.table-basic { width: 100%; margin-bottom: 20px; font-size: 14px; line-height: 18px; color: #000; }
.table-basic th,
.table-basic td { padding: 10px; color: #000; text-align: center; }
.table-basic th { border-bottom: 2px solid #000; font-size: 18px; }
.table-basic td { border-bottom: 1px solid #cfcfcf; }
.table-basic th:first-child,
.table-basic td:first-child { text-align: left; }
.table-basic tr:hover td { background: #f5f5f5; }

.table-grid,
.table-grid thead,
.table-grid tbody,
.table-grid tr,
.table-grid th,
.table-grid td { box-sizing: border-box;	}
.table-grid th,
.table-grid td { vertical-align: top; }

.article-404 { text-align: center; }

/* ------------------------------------------------------------ *\
	# breadcrumbs
\* ------------------------------------------------------------ */
.breadcrumbs ul li:before,
.breadcrumbs ul li:after,
.breadcrumbs ul li a,
.breadcrumbs ul li { transition: all 0.3s; }

.breadcrumbs ul { padding: 4px 0; }
.breadcrumbs ul li { display: inline; font-size: 12px; line-height: 14px; color: #fff; }
.breadcrumbs ul li + li:before { content: '/'; display: inline-block; vertical-align: top; margin: 0 5px; }
.breadcrumbs ul li a { color: inherit; }

/* ------------------------------------------------------------ *\
	# paging
\* ------------------------------------------------------------ */
.paging li,
.paging a { transition: all 0.3s; }

.paging ul li { display: inline-block; vertical-align: top; font-size: 14px; line-height: 1; color: #a9a9a9; font-weight: 500; }
.paging ul li span,
.paging ul li a { display: block; border-radius: 5px; padding: 8px; }
.paging ul li a { color: inherit; }
.paging ul .selected a { color: #000; }
.paging ul li a:hover { background: var(--color-primary); color: #fff; }
.paging .prev a,
.paging .next a { position: relative; padding: 10px; }
.paging .prev a:before,
.paging .next a:before { content: ''; display: block; width: 0; height: 0; border-width: 5px; border-style: solid; }
.paging .prev a:before { border-color: transparent #000 transparent transparent; }
.paging .prev a:hover:before { border-color: transparent #fff transparent transparent; }
.paging .next a:before { border-color: transparent transparent transparent #000; }
.paging .next a:hover:before { border-color: transparent transparent transparent #fff; }

/* ------------------------------------------------------------ *\
	# socials
\* ------------------------------------------------------------ */
.socials { font-size: 0; line-height: 0; }
.socials-item { position: relative; display: inline-block; vertical-align: top; margin: 5px; transition: all 0.3s; }
.socials-item span { color: inherit; }
.socials-item .icon-svg { position: relative; z-index: 1; width: 24px; height: 24px; fill: @color-neutral-lt; backface-visibility: hidden; }

.facebook { color: #3b5998; }
.facebook .icon-svg { fill: #3b5998; }
.google { color: #dd4b39; }
.google .icon-svg { fill: #dd4b39; }
.twitter { color: #55acee; }
.twitter .icon-svg { fill: #55acee; }
.linkedin { color: #007bb5; }
.linkedin .icon-svg { fill: #007bb5; }
.youtube { color: #bb0000; }
.youtube .icon-svg { fill: #bb0000; }
.instagram { color: #125688; }
.instagram .icon-svg { fill: #125688; }

.socials-footer { margin: 0 -10px; }
.socials-footer .socials-item { margin: 10px; }
.socials-footer .socials-item:before { content: ''; position: absolute; top: 1px; left: 1px; z-index: -1; width: 22px; height: 22px; border-radius: 50%; background: #fff; transition: all 0.3s; }
.socials-footer .socials-item:hover .icon-svg { fill: #fff; }
.socials-footer .socials-item span { display: inline-block; vertical-align: top; padding: 0 5px; font-size: 14px; line-height: 24px; font-weight: bold; }
.socials-footer .socials-item:hover { color: #fff; }
.socials-footer .socials-item:hover:before { opacity: 0; visibility: hidden; }

.socials-share > span { display: inline-block; vertical-align: top; margin: 5px 0; font-size: 14px; line-height: 24px; color: #6c6c6c; }
.socials-share .socials-item:hover { transform: translateY(-3px); }

/* ------------------------------------------------------------ *\
	# tables
\* ------------------------------------------------------------ */
.table { width: 100%; border-collapse: collapse; border-spacing: 0; }

/* ------------------------------------------------------------ *\
	# notifications
\* ------------------------------------------------------------ */
.toast-success { background-color: var(--success); }
.toast-error { background-color: var(--error); }
.toast-info { background-color: var(--info); }
.toast-warning { background-color: var(--warning); }

#toast-container > div { box-shadow: none; opacity: 1; }
#toast-container > div:hover { box-shadow: none; opacity: .9; }
.toast-progress { opacity: .6; height: 3px; background-color: #fff; }

.msg { position: relative; border: 1px solid var(--color-neutral-lt); border-radius: 5px; padding: 20px; margin: 10px 0; background: var(--color-neutral-lt); font-size: var(--font-size-primary); line-height: 1.2; color: var(--color-text); font-weight: normal; }
.msg-success { border-color: var(--success); padding-left: 30px; color: var(--success); }
.msg-success:after { content: '✓'; position: absolute; top: 50%; left: 10px; width: 20px; height: 20px; font-size: 20px; line-height: 20px; color: var(--success); font-weight: bold; transform: translateY(-50%); }
.msg-error { border-color: var(--error); padding-left: 30px; color: var(--error); }
.msg-error:after { content: 'x'; position: absolute; top: 50%; left: 12px; margin-top: -2px; font-size: 20px; line-height: 20px; color: var(--error); font-weight: bold; transform: translateY(-50%); }
.msg-info { border-color: var(--info); border-color: var(--info); color: var(--info); }
.msg-warning { border-color: var(--warning); padding-left: 30px; color: var(--warning); }
.msg-warning:after { content: '!'; position: absolute; top: 50%; left: 13px; font-size: 20px; line-height: 20px; color: var(--warning); font-weight: bold; transform: translateY(-50%); }

/* ------------------------------------------------------------ *\
	# forms
\* ------------------------------------------------------------ */
.form .form-label { display: block; padding-bottom: 5px; font-size: 14px; line-height: 1.3; }
.form .form-label.required:after { content: '*'; }

/* ------------------------------------------------------------ *\
	# nav
\* ------------------------------------------------------------ */
nav a { transition: all 0.3s; }
nav a:hover { text-decoration: none; }
nav ul { list-style: none; font-size: 0; line-height: 0; }

/* ------------------------------------------------------------ *\
	# sliders
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	# boxes
\* ------------------------------------------------------------ */
.boxes { font-size: 0; line-height: 0; }
.box { position: relative; display: inline-block; vertical-align: top; box-sizing: border-box; transition: all 0.3s; }
.box:hover { text-decoration: none; }
.box img { width: 100%; height: auto; }

/* ------------------------------------------------------------ *\
	# accents
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	# blocks
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	# components
\* ------------------------------------------------------------ */