:root {
	--wrapper-width:         1180px;

	--font-primary:          sans-serif;
	--font-secondary:        serif;
	--font-size-base:        10px;
	--font-size-primary:     1.6rem;

	--success:               #6cff8f;
	--error:                 #ff5757;
	--info:                  #85bbe7;
	--warning:               #fbd391;

	--color-primary:         #1f2c5c; /* dark blue */
	--color-secondary:       #fcd391; /* yellow */
	--color-bg:              #e0e4ee; /* pale blue */
	--color-neutral-lt:      #f1f1f1;
	--color-neutral-dk:      #ebebeb;

	--color-titles:          var(--color-primary);
	--color-text:            var(--color-primary);
	--color-text-article:    var(--color-text);
	--color-link:            var(--color-primary);

	--border-radius:         8px;
	--gradient-default:      linear-gradient(to right, var(--color-boy), var(--color-girl)); 
}