:root {
	--path: ../images;

	--clearfix: {
		content: ''; 
		display: block; 
		clear: both; 
	};

	--wrapper-width: 1300px;

	--font-sans-serif:     'Arial', 'Helvetica', sans-serif;
	--font-serif:          'Times New Roman', Times, serif;
	
	--font-primary:        var(--font-sans-serif);
	--font-size-primary:   16px;

	--success:                  #7ac043;
	--error:                    #ea2225;
	--info:                     #a0aee4;
	--warning:                  #fdb813;

	--color-primary:            #fdb813; /* yellow */
	--color-secondary:          #f7fff5; /* light yellow */
	--color-tertiary:           #f5f7ff; /* light blue */
	--color-quarternery:        #a0aee4; /* dark blue */
	--color-quinary:            #e5e8f8; /* light gray */
	--color-neutral-lt:         #b1a7a7;
	--color-neutral-dk:         #847878;

	--color-titles:             var(--color-neutral-dk);
	--color-text:               var(--color-neutral-dk);
	--color-link:               var(--color-primary);

	@custom-media --breakpoint-desktop-lg (max-width: 1300px);
	@custom-media --breakpoint-desktop (max-width: 1200px);
	@custom-media --breakpoint-tablet (max-width: 991px);
	@custom-media --breakpoint-tablet-sm (max-width: 767px);
	@custom-media --breakpoint-mobile (max-width: 479px);
}