.cols { display: flex; }
.colsFull { margin: 0 -20px; }
.col { flex: 1; padding: 0 20px; box-sizing: border-box; }
.col1of2 { flex-basis: 50%; }
.col1of4 { flex-basis: 25%; }
.col3of4 { flex-basis: 75%; }