.btns { font-size: 0; line-height: 0; }
.btn { position: relative; box-sizing: border-box; display: inline-block; vertical-align: top; background-color: transparent; border: 0; cursor: pointer; appearance: none; transition: all 0.3s; }
.btn:hover { text-decoration: none;	}