.socials { font-size: 0; line-height: 0; }
.socialsItem { position: relative; display: inline-block; vertical-align: top; margin: 5px; transition: all 0.3s; }
.socialsItem .iconSVG { position: relative; z-index: 1; width: 24px; height: 24px; fill: @color-neutral-lt; backface-visibility: hidden; }

.facebook .iconSVG { fill: #3b5998; }
.google .iconSVG { fill: #dd4b39; }
.twitter .iconSVG { fill: #55acee; }
.linkedin .iconSVG { fill: #007bb5; }
.youtube .iconSVG { fill: #bb0000; }
.instagram .iconSVG { fill: #125688; }