/* ------------------------------------------------------------ *
	# reset
* ------------------------------------------------------------ */
* { margin: 0; padding: 0; outline: 0; }

*:before,
*:after { box-sizing: border-box; }

*::-moz-focus-inner { border: 0; padding: 0; }

*::selection { background: var(--color-primary); color: #fff; }

html { min-height: 100vh; width: 100%; tap-highlight-color: rgba(0, 0, 0, 0); }
body { min-height: 100vh; width: 100%; background: #333; font-family: var(--font-primary); font-size: var(--font-size-primary); line-height: 1.3; color: var(--color-text); -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; text-size-adjust: none; }

a { color: var(--color-link); text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }

img,
iframe,
video,
audio,
object { max-width: 100%; }

article,
aside,
details,
figcaption,
figure,
picture,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary { display: block; }

img,
iframe { border: 0 none; }

img { height: auto; display: inline-block; vertical-align: top; transition: all 0.3s; user-select: none; }

table { border-collapse: collapse; border-spacing: 0; }

label:hover,
input[type="radio"]:hover,
input[type="checkbox"]:hover { cursor: pointer; }
textarea { overflow: auto; resize: none; overflow-scrolling: touch; }

button,
input,
select,
textarea { font-family: var(--font-primary); transition: all 0.3s; }

/* ------------------------------------------------------------ *\
	# fonts
\* ------------------------------------------------------------ */
@font-face {
	font-family: 'HK Grotesk';
	src: url('../fonts/hkgrotesk-light-webfont.eot');
	src: url('../fonts/hkgrotesk-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/hkgrotesk-light-webfont.woff2') format('woff2'),
		 url('../fonts/hkgrotesk-light-webfont.woff') format('woff'),
		 url('../fonts/hkgrotesk-light-webfont.ttf') format('truetype'),
		 url('../fonts/hkgrotesk-light-webfont.svg#hk_grotesklight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../fonts/hkgrotesk-lightitalic-webfont.eot');
	src: url('../fonts/hkgrotesk-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/hkgrotesk-lightitalic-webfont.woff2') format('woff2'),
		 url('../fonts/hkgrotesk-lightitalic-webfont.woff') format('woff'),
		 url('../fonts/hkgrotesk-lightitalic-webfont.ttf') format('truetype'),
		 url('../fonts/hkgrotesk-lightitalic-webfont.svg#hk_grotesklight_italic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../fonts/hkgrotesk-regular-webfont.eot');
	src: url('../fonts/hkgrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
		 url('../fonts/hkgrotesk-regular-webfont.woff') format('woff'),
		 url('../fonts/hkgrotesk-regular-webfont.ttf') format('truetype'),
		 url('../fonts/hkgrotesk-regular-webfont.svg#hk_groteskregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../fonts/hkgrotesk-italic-webfont.eot');
	src: url('../fonts/hkgrotesk-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/hkgrotesk-italic-webfont.woff2') format('woff2'),
		 url('../fonts/hkgrotesk-italic-webfont.woff') format('woff'),
		 url('../fonts/hkgrotesk-italic-webfont.ttf') format('truetype'),
		 url('../fonts/hkgrotesk-italic-webfont.svg#hk_groteskitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../fonts/hkgrotesk-medium-webfont.eot');
	src: url('../fonts/hkgrotesk-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/hkgrotesk-medium-webfont.woff2') format('woff2'),
		 url('../fonts/hkgrotesk-medium-webfont.woff') format('woff'),
		 url('../fonts/hkgrotesk-medium-webfont.ttf') format('truetype'),
		 url('../fonts/hkgrotesk-medium-webfont.svg#hk_groteskmedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../fonts/hkgrotesk-mediumitalic-webfont.eot');
	src: url('../fonts/hkgrotesk-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/hkgrotesk-mediumitalic-webfont.woff2') format('woff2'),
		 url('../fonts/hkgrotesk-mediumitalic-webfont.woff') format('woff'),
		 url('../fonts/hkgrotesk-mediumitalic-webfont.ttf') format('truetype'),
		 url('../fonts/hkgrotesk-mediumitalic-webfont.svg#hk_groteskmedium_italic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../fonts/hkgrotesk-bold-webfont.eot');
	src: url('../fonts/hkgrotesk-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
		 url('../fonts/hkgrotesk-bold-webfont.woff') format('woff'),
		 url('../fonts/hkgrotesk-bold-webfont.ttf') format('truetype'),
		 url('../fonts/hkgrotesk-bold-webfont.svg#hk_groteskbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../fonts/hkgrotesk-bolditalic-webfont.eot');
	src: url('../fonts/hkgrotesk-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/hkgrotesk-bolditalic-webfont.woff2') format('woff2'),
		 url('../fonts/hkgrotesk-bolditalic-webfont.woff') format('woff'),
		 url('../fonts/hkgrotesk-bolditalic-webfont.ttf') format('truetype'),
		 url('../fonts/hkgrotesk-bolditalic-webfont.svg#hk_groteskbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Muller Bold';
	src: url('../fonts/3433E1_0_0.eot');
	src: url('../fonts/3433E1_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/3433E1_0_0.woff2') format('woff2'),
		 url('../fonts/3433E1_0_0.woff') format('woff'),
		 url('../fonts/3433E1_0_0.ttf') format('truetype');
}

/* ------------------------------------------------------------ *
	# general
* ------------------------------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 { font-family: var(--font-secondary); font-weight: normal; color: var(--color-titles); }

.logo { display: block; user-select: none; }
.logo img { max-width: 100%; height: auto; }

.tooltip { overflow: hidden; font-size: 100%; line-height: 1.35; white-space: nowrap; }


/* popups */
.popup { display: none; }
#cboxLoadedContent .popup { display: block; }

.popup { max-width: 665px; padding: 40px; }
.popup-checkout-success { text-align: center; }
.popup-checkout-success .btns { padding: 20px 0; }

.overlay-global { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: #000; opacity: 0; visibility: hidden; transition: all 0.3s; pointer-events: none; }
body.is-active .overlay-global { opacity: 0.7; visibility: visible; pointer-events: auto; }
body.is-active .header,
body.is-active .accents,
body.is-active .main { z-index: auto; }
body.has-cart-active .nav-cart { z-index: 101; }
body.has-menu-active .header-bottom .wrapper { z-index: 101; }

/* z-index hierarchy */
.header,
.footer,
.main,
.accents { position: relative; }

.overlay-global { z-index: 100; }
.header { z-index: 40; }
.footer { z-index: 30; }
.main { z-index: 20; }
.accents { z-index: 10; }

.pad { overflow: hidden; background: #fff; border-radius: 5px; }
.pad-primary { box-shadow: var(--shadow-default); }
.pad-secondary { box-shadow: var(--shadow-blured); }
.pad-basic { border: 1px solid var(--color-neutral-mid); border-radius: 0; background: #f8f8f8; }

.toolbar:after { @apply --clearfix; }
.toolbar-date { padding: 10px 0; }
.toolbar-date .date { float: left; }
.toolbar-date .date strong { display: block; padding-bottom: 2px; font-size: 36px; line-height: 1; color: #000; }
.toolbar-date .date small { display: block; font-size: 10px; line-height: 1; color: #585858; }
.toolbar-date .btns { float: right; }
.toolbar-products { padding: 20px 0; }
.toolbar-products-top { padding-top: 0; }
.toolbar-products-bottom { padding-bottom: 0; }
.toolbar-products:after { @apply --clearfix; }
.toolbar-products .sort { float: left; }
.toolbar-products .sort .field-select select { height: 30px; border-radius: 5px; line-height: 30px; text-transform: none; }
.toolbar-products .paging { float: right; }
.toolbar-bordered { border-top: 1px solid #d6d6d6; padding: 15px 0; }

/* plugin: perfect scroll */
.ps > .ps__scrollbar-y-rail { opacity: 1; width: 8px; background: #dfdfdf; }
.ps.ps--active-y > .ps__scrollbar-y-rail { background: #dfdfdf; }
.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y { right: 0; width: 8px; border-radius: 0; background: var(--color-secondary); }
.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y, .ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y { width: 8px; background: var(--color-secondary); }
.ps:hover > .ps__scrollbar-y-rail,
.ps:hover > .ps__scrollbar-y-rail:hover { background: #dfdfdf; opacity: 1; }
.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y,
.ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y { width: 8px; }

/* plugin: nouislider */
.slider-range { height: 4px; border: 0; border-radius: 0; margin: 15px 55px 35px 10px; background: #dfdfdf; }
.slider-range .noUi-connect { background: #000; }
.slider-range .noUi-handle { top: 50%; left: 50%; width: 18px; height: 24px; border: 0; border-radius: 0; margin: -10px 0 0 -9px; background: url('../images/icon-ellipse.svg') 0 0 no-repeat; box-shadow: none; cursor: pointer; }
.slider-range .noUi-handle:after { display: none; }
.slider-range .noUi-handle:before { content: attr(aria-valuetext); top: 100%; left: 0; width: 60px; height: auto; padding: 5px 0; background-color: transparent; font-size: 14px; line-height: 1; color: #000; }

/* ------------------------------------------------------------ *
	# helpers
* ------------------------------------------------------------ */
.clearfix:after { content: ' '; display: block; clear: both; }

.show { display: block !important; }
.hide { display: none !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

/* ------------------------------------------------------------ *
	# animations
* ------------------------------------------------------------ */
@keyframes fadeIn {
	0% { 
		opacity: 0;
		visibility: hidden; 
	}
	100% {
		opacity: 1;
		visibility: visible; 
	}
}

@keyframes slideInDown {
	0% {
		transform: translate3d(0, -15px, 0);
		opacity: 0; 
		visibility: hidden; 
	}
	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1; 
		visibility: visible; 
	}
}

@keyframes scaleDown {
	0% {
		transform: scale3d(0.9, 1, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

/* ------------------------------------------------------------ *
	# grid
* ------------------------------------------------------------ */
.cols:before,
.cols:after { content: " "; display: table; clear: both; }
.cols-full { margin-right: -15px; margin-left: -15px; }
.col { box-sizing: border-box; min-height: 1px; float: left; padding: 0 15px; }

.col1of12 { width: 8.33333333%; }
.col2of12 { width: 16.66666667%; }
.col3of12 { width: 25%; }
.col4of12 { width: 33.33333333%; }
.col5of12 { width: 41.66666667%; }
.col6of12 { width: 50%; }
.col7of12 { width: 58.33333333%; }
.col8of12 { width: 66.66666667%; }
.col9of12 { width: 75%; }
.col10of12 { width: 83.33333333%; }
.col11of12 { width: 91.66666667%; }
.col12of12 { width: 100%; }

.col1of5 { width: 260px; }
.col2of5 { width: 520px; }
.col3of5 { width: 780px; }
.col4of5 { width: 1040px; }
.col5of5 { width: 1300px; }

@media (--breakpoint-desktop-lg) {
	.col { float: none; width: auto; padding: 0 10px; }
}

/* ------------------------------------------------------------ *
	# form elements
* ------------------------------------------------------------ */
legend { display: table; float: left; margin: 0; padding: 0; width: 100%; }
legend + * { clear: both; }
fieldset { border: 0; padding: 0.01em 0 0 0; min-width: 0; }

fieldset,
legend,
.field input,
.field select,
.field textarea { appearance: none; box-sizing: border-box; }

.field select::-ms-expand { display: none; }

.field input,
.field select,
.field textarea { display: block; max-width: 100%; width: 100%; height: 44px; border: 1px solid var(--color-neutral-mid); padding: 11px 20px; background: #fff; font-size: 14px; line-height: 20px; color: var(--color-text); /*box-shadow: var(--shadow-fields); */}
.field textarea { height: 134px; }
.field select { padding: 0 30px 0 20px; line-height: 40px; user-select: none; cursor: pointer; }
.field-select { position: relative; display: block; max-width: 100%; }
.field-select:before { content: ''; position: absolute; top: 50%; right: 10px; z-index: 2; display: block; width: 0; height: 0; border-width: 5px; border-style: solid; border-color: #000 transparent transparent; margin-top: -1px; pointer-events: none; }

.field textarea::placeholder,
.field input::placeholder { opacity: 1; color: var(--color-text); }

.field select:focus,
.field input:focus,
.field textarea:focus { border-color: var(--color-secondary); }

.field select[disabled],
.field textarea[disabled],
.field input[disabled] { border-color: var(--color-neutral-mid); background: #eee; }

.choose { line-height: 1; }
.choose:after { content: ' '; display: block; clear: both; }

.radio,
.check { padding-bottom: 10px; }
.radio > input,
.check > input { float: left; width: 16px; height: 16px; margin: 0 10px 0 0; opacity: 0; }
.radio > label,
.check > label { font-size: 14px; line-height: 16px; color: #555; user-select: none; }
.radio > label:before,
.check > label:before { content: ''; position: absolute; top: 0; left: 0; display: block; width: 16px; height: 16px; border: 1px solid #000; background: #fff; transition: all 0.3s; pointer-events: none; }
.radio > label:after,
.check > label:after { content: ''; position: absolute; top: 0; left: 0; width: 16px; height: 16px; background: #000; transition: all 0.3s; opacity: 0; visibility: hidden; pointer-events: none; }
.radio > input:focus + label:before,
.check > input:focus + label:before { box-shadow: 0px 0px 10px var(--color-secondary); }
.radio > input:checked + label:before,
.check > input:checked + label:before { background: var(--color-secondary); }
.radio > input:checked + label:after,
.check > input:checked + label:after { opacity: 1; visibility: visible; }
.radio > label:before { border-radius: 50%; }
.radio > label:after { border-radius: 50%; }

.choose,
.field { position: relative; }
.field.error > textarea,
.field.error > select,
.field.error > input { position: relative; border-bottom-color: var(--error); color: var(--error); }
.field.error:after { content: '!'; position: absolute; top: 50%; left: 7px; font-size: 20px; color: var(--error); font-weight: bold; transform: translateY(-50%); }
.choose.error > label { color: var(--error); }
.field.success > textarea,
.field.success > select,
.field.success > input { position: relative; border-bottom-color: var(--success); color: var(--success); }
.field.success:after { content: '✓'; position: absolute; top: 50%; left: 5px; width: 20px; height: 20px; color: var(--success); transform: translateY(-50%); }
.choose.success > label { color: var(--success); }