/* I. Plugins
=============================================================== */
@import "plugins/toastr.css";

/* II. Generic
=============================================================== */
@import 'partials/_settings.css';
@import 'partials/_generic.css';

/* III. Regions
=============================================================== */
@import 'partials/_regions.css';

/* IV. Modules
=============================================================== */
@import 'partials/_modules.css';